/* COLORES:
Lateral: #0f1c30;
Titulo:  #304a6f;
color1: #658dc0
color2: #79a9e6
Naranja: #DD4D2C
verdoso: #568281 */
:root{
	--Lateral: #0f1c30;
	--Titulo:  #304a6f;
	--color1: #658dc0;
	--color2: #79a9e6;
	--Naranja: #DD4D2C;
	--verdoso: #568281;
	--fondo: #ffffff;
	--black: black;
}

body{
    width: 100%;
	height: 100%;
	background-color: var(--fondo);
	font-family: 'Source Serif 4', serif;
	
}

h1{
	color: var(--Titulo);
	font-weight: 1000;
	font-size: 4rem;
	
}

h2{
	color: var(--Titulo);
	font-weight: 700;
	font-size: 2.5rem;
	
}
h3{
	color:var(--color1);
	font-weight: 500;
	font-size: 2rem;
	
}
h4{
	color:var(--color2);
	font-weight: 300;
	font-size: 1.5rem;
	
}

h5{
	color: var(--verdoso);
	font-weight: 100;
	font-size: 1.5rem;
	
}

.inicio a, .sobremi a, .portfolio a, .contacto a{
	color:var(--Naranja);
}

@media (max-width:768px){

	.inicio, .contacto, .skills{
		height: 100vh;
	}
	.sobremi, .educacion {
		height: 100%;
	}
}


@media (min-width:768px){
	.division{
		height: 100vh;
	}
aside{
	position: sticky;
	top: -1px;
	height: 100vh;
}


.hijo{
	padding-left: 3rem;
}

}
@media (max-width:768px){
	.division{
		text-align: center;
	}
}

img{
	width: 100%;
}


.fa-stack {
	text-align: center;
	justify-content: left;
	font-size: 1.5rem;
}

 .fa-stack-2x {
	color: var(--verdoso);
	transition: all 0.2s ease;
}

 .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

 .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

 .fa-stack:hover .fa-stack-1x {
	color: var(--Lateral);
}


.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #3a3939;
	border-radius: 32px;
	background-color: var(--Naranja);
	color: #ffffff !important;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;

	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn-solid-reg:hover {
	background-color: var(--Lateral);
	color: white; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.contacto img{
	width: 60px;
}


aside{
	background-color: var(--Lateral);
}

.nav-link{
	color:white;
}
.nav-link.active {
	background-color: white !important;
}

.navbar-brand{
	color:white;
}

.navbar-toggler{
	color:white;
	background-color: white;
}


.contacto i{
	color:var(--verdoso);
}



.portfolio .card{
	height: 400px;
	background-color: var(--fondo);
	border-color: var(--black);
}
@media (max-width:768px){
	.portfolio .card{
		height: 380px;
	}
}

.portfolio .card p{
	color: var(--black);
}

.portfolio .card h5{
	color: var(--color2);
}


.portfolio .card .card-footer{
border:none;
background-color: var(--fondo);
}




.flags{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	margin-top: 10px;
	
}

.flags_item{
	width:30px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.flags_img{
	display:block;
	cursor:pointer;
}

.switches{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	margin-top: 15px;
}
.toggle-theme{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.toggle-theme_icon{
	margin-right: 0.5em;
	width: 30px;
}
.toggle-theme_text{
	font-size: 1rem;
	color:white;
	margin-bottom: 0;
}




body.dark{

--Lateral: #000000;
--Titulo:  #7DDFEE;
--color2: #BB86FC;
--color1: #00c8E0;
--Naranja: #DD4D2C;
--verdoso: #3700B3;
--fondo: #121212;
--black: #BB86FC;

}

